'atom-text-editor':
  'alt-w': 'editor:toggle-soft-wrap'
'body':
  'alt-shift-cmd-down': 'pane:split-down-and-copy-active-item'
  'alt-shift-cmd-left': 'pane:split-left-and-copy-active-item'
  'alt-shift-cmd-right': 'pane:split-right-and-copy-active-item'
  'alt-shift-cmd-up': 'pane:split-up-and-copy-active-item'
'.platform-darwin atom-workspace':
  'ctrl-`': 'platformio-ide-terminal:new'
'atom-text-editor:not([mini])':
  'ctrl-cmd-o': 'hydrogen:toggle-output-area'
