packages: [
  "atom-beautify"
  "atom-ide-ui"
  "auto-update-packages"
  "change-case"
  "chester-atom-syntax"
  "dash"
  "docker"
  "epoch-converter"
  "file-icons"
  "haskell-grammar"
  "highlight-selected"
  "Hydrogen"
  "ide-python"
  "language-babel"
  "language-docker"
  "language-graphql"
  "language-haskell"
  "language-ini"
  "language-lua"
  "language-ocaml"
  "language-rust"
  "language-scala"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-docker"
  "linter-htmlhint"
  "linter-tidy"
  "nuclide"
  "nuclide-format-js"
  "package-sync"
  "platformio-ide-terminal"
  "plist-converter"
  "quick-query"
  "rest-client"
  "set-syntax"
  "sort-lines"
  "split-diff"
  "tab-control"
  "tablr"
  "text-pastry"
  "tool-bar"
  "url-encode"
  "wordcount"
]
