"*":
  Hydrogen:
    outputAreaDefault: true
    outputAreaDock: true
    startupCode: "{\"Python 3\":\"%config InlineBackend.figure_format = 'svg' \\n%matplotlib inline\"}"
  "api-docs":
    _theme: "Dark"
    angular: true
    "docker~1":
      "13": true
    "matplotlib~2":
      "1": true
    "numpy~1":
      "13": true
    "pandas~0":
      "22": true
    "python~3":
      "6": true
  "atom-beautify":
    general:
      _analyticsUserId: "5aa9161c-25d4-4f7a-88e0-90f1697e8869"
    python:
      default_beautifier: "yapf"
      formatter: "yapf"
      multi_line_output: "Hanging Grid"
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-htmlhint"
      "linter-tidy"
      "linter"
      "prettier-atom"
    ]
  "autocomplete-paths": {}
  "autocomplete-python":
    useKite: false
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "qolor"
      "MagicPython"
      "atom-ide-ui"
      "tree-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "isotope-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Space Mono"
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0e068d20-e24f-47a1-a7d7-0c83a953869a"
  "ide-python":
    pylsPlugins:
      pydocstyle: {}
  "isotope-ui":
    lowContrastTooltip: true
    minimalMode: true
  kite:
    activeSearchPosition: "hidden"
    editorMetricsEnabled: "yes"
    showKiteTourOnStartup: false
    useDockForSidebar: true
  "markdown-preview": {}
  minimap:
    adjustAbsoluteModeHeight: true
  nuclide:
    "atom-ide-datatip":
      datatipDebounceDelay: 100
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
    "nuclide-python":
      autocompleteArguments: false
      lintOnFly: true
      pathToPython: "python3"
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "Briggin"
          params:
            authMethod: "PASSWORD"
            cwd: "/var/services/homes/becketfowler"
            displayTitle: "Briggin"
            pathToPrivateKey: "/Users/hugh/.ssh/id_rsa"
            remoteServerCommand: ""
            server: "192.168.1.118"
            sshPort: "44"
            username: "becketfowler"
          saveable: true
        }
      ]
    "nuclide-terminal":
      cursorStyle: "bar"
      fontFamily: "Fira Code"
    use: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#212121"
        blue: "#5497ef"
        cyan: "#80ffe9"
        green: "#73ab84"
        magenta: "#af2cbe"
        red: "#f45c69"
        yellow: "#ffee92"
    core:
      mapTerminalsTo: "Folder"
    style:
      fontFamily: "menlo"
      theme: "one-dark"
  term3:
    colors:
      background: "#272c35"
    titleTemplate: "Terminal ({{ hostName }})"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "sql"
    ]
